body {
  background-color: grey;
}

header {
  color: white;
  font-size: 100px;
}

main {
  color: cyan;
  font-size: 24px;
}

#special {
  font-style: italic;
}

main h1 {
  font-size: 24px;
}

footer {
  color: yellow;
  font-size: 18px;
}

#firstpage {
  background-color: fuchsia;
}

#secondpage {
  background-color: olivedrab;
}

#secondpage h1 {
  color: brown;
}