header {
  background-color:green;
  height: 250px;
  width: 250px;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index -1;
}

main {
  background-color: red;
  height: 250px;
  width: 250px;
  position: absolute;
  top: 150px;
  left: 150px;
  z-index: -2 ; /* z-index in the order of where the css need to start */

}

footer {
  background-color: blue;
  height: 250px;
  width: 250px;
  position: absolute;
  top: 200px;
  left: 200px;
  z-index: -3;

}

div {
  background-color: yellow;
  height: 250px;
  width: 250px;
  position: fixed;
  top: 350px;
  left: 350px;
  z-index: -4;
}